*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav{
        padding :1rem;
        background-color:#333;
        display: flex;
        justify-content: space-between;
    }
    nav1{
        padding :1rem;
        background-color:#333;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }
    .text1
    {
        color: #fff;
        font-family:'angsana new';
        font-size: 30px;
    }
    .logo a{
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }
    .menu{
        display:flex;
        list-style: none;
        align-items: center;
    }
    .menu li{
        margin: 0 1rem;
    }
    .menu li a{
        color:#fff;
        text-decoration: none;
    }
    body{
        background-color:black ;
    }
    
    h1{
        color: wheat;
        font-family: 'Lucida Sans';
        font-size: 40px;
    }
    .gallery
    {
    }
    .gallery2
    {
        margin-right: 50px;
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
    }
    .gallery_img{
        width: 400px;
        height: 600px;
        object-fit: scale-down;
        margin-top: 5px;
    }
    .gallery_img img{
        width: 400px;
        height: 600px;
        object-fit: scale-down;
        margin-top: 5px;
    }
    .gallerytext
    {
        margin-left: 20px;
        margin-top: -600px;
        color: #fff;
        font-family:'angsana new';
        font-size: 30px;
    }
    .gallery_video
    {
        margin-top: 490px;
    }
    .activity
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-around;
        max-width: 100%;
        margin: 0 auto;
    }
    .act
    {
        margin-top: -400px;
        text-align: center;
        position: relative;
        color: #fff;
    }
    .activity img
    {
        width: 97%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 0 5px grey;
        margin-right: 5px;
    }
    .advisor img
    {
        height: 450px;
        object-fit: cover;
        padding: 10px 10px 10px 10px;
    }
    .contact1 img
    {
        width: 250px;
        height: 250px;
        object-fit: cover ;
        padding: 10px 10px 10px 10px;
    }
    .contact2 img
    {
        width: 200px;
        height: 200px;
        object-fit: cover ;
        padding: 10px 10px 10px 10px;
    }
    .kave
    {
        width: 100%;
        height: 550px;
        background-size:cover ;
        background-position: center;
        background-image: url("../photo/con_kave.png");
        display: flex;
        flex-direction: column;
    }
    .textact
    {
        color: #fff;
        z-index: 1000;
        font-size: 30px;
        position: absolute;
        margin-top: -40px;
        margin-left: 12px;
    }
    .bodybg
    {
        background-color: black;
        width: 100%;
        height: 900px;
    }
    figcaption
    {
        margin-top: 10px;
    }
    .ori1
    {
        width: 100%;
        height: 600px;
        background-size:cover ;
        background-position-y: center ;
        background-image: url("../photo/Con1_or.png");
        display: flex;
        flex-direction: column; 
    }
    .orienta
    {
        display: grid;
        grid-template-columns: repeat(3,2fr);
        justify-content: space-around;
        max-width: 100%;
        margin: 0 auto;
    }
    .ori
    {
        margin-top: -350px;
        position: relative;
    }
    .orienta img
    {
        width: 97%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 0 5px grey;
    }
    .textori
    {
        color: #fff;
        z-index: 1000;
        font-size: 30px;
        position: absolute;
        margin-top: -40px;
        margin-left: 12px;
    }
    .csf
    {
        width: 100%;
        height: 600px;
        background-size:cover ;
        background-position-y: center ;
        background-image: url("../photo/circle.jpg");
        display: flex;
        flex-direction: column; 
    }
    .cscon
    {
        width: 100%;
        height: 600px;
        background-size:cover ;
        background-position-y: center ;
        background-image: url("../photo/sci_con.png");
        display: flex;
        flex-direction: column; 
    }

    @media only screen and (max-width: 400px) /*iphone*/
    {
        .gallery2{
            margin-right: 0;
            display: flex ;
            flex-direction: column;
            align-items: center;
        }
        .gallerytext h1
        {
            font-size: 35px;
        }
        .gallerytext
        {
            margin-left: 0;
            display: flex ;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
        }
        .gallery_img
        {
            display: flex ;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .gallery_img img
        {
            margin-top: 50%;
            width: 200px;
            height: 300px;
        }
        .gallery_video
        {
            margin-top: 380px;
        }
        video
        {
            width: 200px;
            height: 100%;
        }
      }
    @media only screen and (max-width: 769px) and (min-width :767px) /*ipad*/
    {
        .gallery2{
            margin-right: 0;
            display: flex ;
            flex-direction: column;
        }
        .gallery_img
        {
            display: flex ;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .gallery_img img
        {
            margin-top: 30%;
        }
        .gallery_video
        {
            margin-top: 700px;
        }
      }